################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.obj
*.tlog
*.xml
*.pdb
*.log
*.filters
*.vcxproj
*.user
*.idb
